*,
*::after,
*::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,body{
  height: 100%;
  width: 100%;
  font-size: 16px;
}

img,picture{
  max-width: 100%;
  display: block;
}

/* Reset margins */
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
    margin: 0;
}

/* make form elements easier to work with */
input,
button,
textarea,
select {
    font: inherit;
}